.block-ide-logo {
    display: inline-block;
    width: 100px;
    height: 70px;
    background: url('assets/partials/BlockIDE-logo.png') no-repeat center center;
    background-size: 85px;
    margin-top: 5px;
}